demo.json
[{"id":"dcb3dfa1.f55dd","type":"atgpio info","z":"3554d165.46b87e","name":"","rate":"17","rateUnit":"s","x":380,"y":160,"wires":[["833c84f6.bd8fc8"]]},{"id":"25caf7b1.a70f08","type":"atgpio in","z":"3554d165.46b87e","name":"","pin":"0","dir":"in","rate":"23","rateUnit":"s","x":370,"y":220,"wires":[["1957b437.71ef9c"]]},{"id":"334e005f.5c49a","type":"atgpio out","z":"3554d165.46b87e","name":"","pin":"4","set":true,"level":"0","dir":"out","x":370,"y":280,"wires":[]},{"id":"833c84f6.bd8fc8","type":"debug","z":"3554d165.46b87e","name":"","active":true,"console":"false","complete":"true","x":550,"y":160,"wires":[]},{"id":"b713b3cd.93843","type":"inject","z":"3554d165.46b87e","name":"Any input to trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":160,"wires":[["dcb3dfa1.f55dd"]]},{"id":"1957b437.71ef9c","type":"debug","z":"3554d165.46b87e","name":"","active":true,"console":"false","complete":"true","x":550,"y":220,"wires":[]},{"id":"dcea488e.c8b628","type":"inject","z":"3554d165.46b87e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":260,"wires":[["334e005f.5c49a"]]},{"id":"3e3b7202.dee6ae","type":"inject","z":"3554d165.46b87e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":300,"wires":[["334e005f.5c49a"]]}]